#container
  #intro
    #pageHeader
      %h1
        %span IEOR 190E
    #preamble
      %h3
        %span September 7, 2014 - Rejection Therapy
      %p.p1
        %span I was initially very skeptical about this exercise, but gave it a try regardless. I was pleasantly surprised to find how useful it was. I don't think I learned the intended lesson of "getting used to rejection," rather, I found out how EASY it was to approach random citizens of Berkeley with unreasonable requests and be taken very seriously. Many of them actually agreed to the majority of the requests and it served as encouragement to act even more boldly during the next request. I was a skeptic, but I am definitely glad I partook in this exercise :)

        %p
        %center
          %iframe{:width=>"560", :height=>"315", :src=>"http://www.youtube.com/embed/agPYf2SUhto", :frameborder=>"0"}

        %p
        %center
          %iframe{:width=>"560", :height=>"315", :src=>"http://www.youtube.com/embed/ijEu5411Wy0", :frameborder=>"0"}

      %h3
        %span September 15, 2014
      %p.p1
        %span 

  #footer
    / Copyright 2014 Tsion Behailu

  
  #linkList
    #inkList2
      #lselect
        %ul
          %li 
            %a{:href=>"/"} Home
          %li
            = link_to "Resume", "/Behailu_Tsion_Resume.pdf" 
          %li 
            %a{:href=>"http://github.com/tbehailu"} Github
          %li 
            %a{:href=>"http://linkedin.com/in/tbehailu"} LinkedIn

      #larchives
        %ul
          %li 
            %a{:href=>"http://www.tsion.me/wat-camp-2014/"} WAT Camp
          %li 
            %a{:href=>"/research"} Research Blog
          %li 
            %a{:href=>"/projects"} Projects