#container
  #intro
    #pageHeader
      %h1
        %span IEOR 190E
    #entry
      %h3
        %span September 7, 2014 - Rejection Therapy
      %p.p1
        %span I was initially very skeptical about this exercise, but gave it a try regardless. I was pleasantly surprised to find how useful it was. I don't think I learned the intended lesson of "getting used to rejection," rather, I found out how EASY it was to approach random citizens of Berkeley with unreasonable requests and be taken very seriously. Many of them actually agreed to the majority of the requests and it served as encouragement to act even more boldly during the next request. I was a skeptic, but I am definitely glad I partook in this exercise :)

        %p
        %center
          %iframe{:width=>"560", :height=>"315", :src=>"http://www.youtube.com/embed/agPYf2SUhto", :frameborder=>"0"}

        %p
        %center
          %iframe{:width=>"560", :height=>"315", :src=>"http://www.youtube.com/embed/ijEu5411Wy0", :frameborder=>"0"}


      %h3
        %span October 10, 2014 - Birth of Piquant
      %p.p1
        %span We have finally chosen an area to focus on. The team will be building a mobile application that will serve as a personal nutritionist. After speaking with some of the people from Built.io, we will be leveraging their framework to enable it.

      %h3
        %span November 16, 2014 - App Development
      %p.p1
        %span The other engineers and I are running into problems as we develop the application. We have been keeping in constant contact with the Built.io technicians to help us best use their framework for our needs. Specifically, integrating Nutritionix with the application has been difficult.

      %h3
        %span December 5, 2014 - Pitch Deck
      %iframe{:src=>"https://docs.google.com/presentation/d/1RQSeKXPJcZLXqDk9SidAbiRDoym2O3sTiB9idkUnbYU/embed?start=false&loop=false&delayms=3000", :frameborder=>"0", :width=>"500", :height=>"300", :allowfullscreen=>"true", :mozallowfullscreen=>"true", :webkitallowfullscreen=>"true"}


      %h3
        %span December 6, 2014 - Code Review

      %p.p1
        %span The engineers and I have finished presented our current application for code review. After taking some of the criticism into consideration, we decided to change our technical model from locally getting the nutrition data and giving the user back information, we’re going to host a server that hosts a web application that retrieves nutrition data and returns recommendations.The application communicates with host server periodically to query for user recommendations. User will find that recommendation by being profiled and application goes to server and retrieves information based on profile.

      %h3
        %span December 8, 2014 - Final Blog
      %center
        %iframe{:width=>"560", :height=>"315", :src=>"http://www.youtube.com/embed/syAfmugmXoM", :frameborder=>"0"}

  #footer
    / Copyright 2014 Tsion Behailu
