#container
  #intro
    #pageHeader
      %h1
        %span Designing ICTs to Increase Smallholder Farmers'
        %br  Access to Markets and Knowledge
    #preamble
      %h3
        %span September 9, 2014 - Background Research Papers
      %p.p1
        %span Research Steps as outlined in Proposal:
        %ul 
          %li Gathering information on the current flow of information between farmers
          %li ICT systems with potential for adoption by farmers
          %li The most effective implementation of the chosen ICT system
          %li Implement the ICT

      %p.p2
        %span Tasks
        %ul 
          %li Prepare a survey paper about the state of the art in Information and Communication Technologies in sub-Saharan Africa.
          %li Maintain a weekly journal documenting their work and findings, which they will share during the weekly meetings. (Required by CREU)
          %li Collaborate on maintaining a common website for their project, which will include their collaborative work. 
          %li Provide a mid-year progress report at the end of the Fall 2011 semester & end of the year summary of their work.
          %li With help from the faculty advisor, students will identify appropriate venues to publish their work

        / %p
        / %center
        /   %iframe{:width=>"560", :height=>"315", :src=>"http://www.youtube.com/embed/agPYf2SUhto", :frameborder=>"0"}

  / #supportingText
  /   #explanation
  /     %h3
  /       %span September 5, 2014
  /     %p.p1
  /       %span 
      
  /     %p.p2
  /       %span The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.


  /   #participation
  /     %h3
  /       %span Where can I get some?
  /     %p.p1
  /       %span There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.


  /   #benefits
  /     %h3
  /       %span Why do we use it?
  /     %p.p1
  /       %span It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


  #footer
    / Copyright 2014 Tsion Behailu

  
  #linkList
    #inkList2
      #lselect
        %ul
          %li 
            %a{:href=>"/"} Home
          %li
            = link_to "Resume", "/Behailu_Tsion_Resume.pdf" 
            / %a{:href=>"/Behailu_Tsion_Resume.pdf"} Resume
          %li 
            %a{:href=>"http://github.com/tbehailu"} Github
          %li 
            %a{:href=>"http://linkedin.com/in/tbehailu"} LinkedIn

      #larchives
        %ul
          %li 
            %a{:href=>"http://www.tsion.me/wat-camp-2014/"} WAT Camp
          %li 
            %a{:href=>"/articles"} IEOR Blog