#container
  #intro
    #pageHeader
      %h1
        %span Designing ICTs to Increase Smallholder Farmers'
        %br  Access to Markets and Knowledge
    #preamble
      %h2 
        %span Concept Prototype
      The project, 
      %emph Designing ICTs for Increasing Smallholder Farmers
      Access to Markets and Knowledge, identifies needs and defines opportunities through which innovative information and communication technology (ICT)-based applications and systems can increase agricultural small-holder productivity, profitability, and sustainability.

      The project is predicted to be completed at the end of Spring 2015, at which time, one of the following applications of the ICT will be possible:
      
      %ul 
        %li A digital library interface accessible to the smallholder farmers through the web.
        %li An aggregate of knowledge collected from small-scale farmers.
        %li A communication tool between farmers and other agencies.

    #preamble

      %h2 September 9, 2014 - Background Research Papers
      
      %h3 Research Steps as outlined in Proposal:
      %ul 
        %li Gathering information on the current flow of information between farmers
        %li ICT systems with potential for adoption by farmers
        %li The most effective implementation of the chosen ICT system
        %li Implement the ICT

      %h3 Tasks
      %ul 
        %li Prepare a survey paper about the state of the art in Information and Communication Technologies in sub-Saharan Africa.
        %li Maintain a weekly journal documenting their work and findings, which they will share during the weekly meetings. (Required by CREU)
        %li Collaborate on maintaining a common website for their project, which will include their collaborative work. 
        %li Provide a mid-year progress report at the end of the Fall 2014 semester & end of the year summary of their work.
        %li With help from the faculty advisor, students will identify appropriate venues to publish their work

    #preamble
      %h2
        %span September 10, 2014 - ICT Presentation & Advisor Meeting
      %h3
        %span ICT Presentation in INFO 290
      
      Aparna and I prepared a presentation for the ICT class we are currently taking to expand our knowledge on this field. It was based off of two papers that Prof. Parikh has worked on in the past.

      %iframe{:src=>"https://docs.google.com/presentation/d/15SuFU3v9bUUDYwrwPw1DTRfvCfBgEVq8PA4QQ0Rd0N4/embed?start=false&loop=false&delayms=3000", :frameborder=>"0", :width=>"500", :height=>"300", :allowfullscreen=>"true", :mozallowfullscreen=>"true", :webkitallowfullscreen=>"true"}

      %h3
        %span Potential products to build as discussed with Prof. Parikh
      %ul 
        %li Gathering information on the current flow of information between farmers
        %li ICT systems with potential for adoption by farmers
        %li The most effective implementation of the chosen ICT system
        %li Implement the ICT

      #preamble
        %h2
          %span September 23, 2014 - More readings on ethics and informed consent
        %ul
          %li 
            S. Sterling and N. Rangaswamy, 
            %a{:href => "http://www.gg.rhul.ac.uk/ict4d/ictd2010/posters/ICTD2010%20Sterling%20et%20al.pdf"} “Constructing informed consent in ICT4D research”
          %li 
            B. Friedman, P. Kahn Jr, and A. Borning, 
            %a{:href =>"http://jgustilo.pbworks.com/f/the-handbook-of-information-and-computer-ethics.pdf#page=104"}  “Value sensitive design and information systems”

      #preamble
        %h2
          %span September 24, 2014 - Advisor Meeting notes, potential application ideas
        
        %h3 Notes
        
        %ul
          %li People from Gates and UN
          %li Egronomy and new type of sensors for agriculture
          %li Sensor-based stuff
          %li getting sensors into farmer’s hands
          %li soil, humidity, composition, weather
          %li rain fall monitoring, standard size container, measure it and record
          %li standardization of measuring instrument
          %li measuring levels and writing is hard for farmers
          %li is there an automated way of recording this data
          %li vision based approach?
          %li reduce burden of record these measurements
          %li person from east africa cgi groups, does stuff with landscape and ecosystem
          %li distributed rainfall network
          %li rainfall meters
          %li rainfall monitoring network
          %li use schools as a baseline and extrapolate rainfall patterns
          %li participatory research w/ farmers in west farmers showed interest in measuring rainfall more accurately
          %li difficulty: accurately measure production, yields
          %li new types of processes, bundling, but probably tried before
          %li vision based approach, make inferences about total yield
          %li could make big impact on agricultural research even though very straightforward

        %h4 Backend
        %ul
          %li data integration challenges
          %li privacy
          %li visualization

        %h3 Project Ideas

        %ul
          %li lots of groups collected data about farmers but data not integrated, whats a way to do this while keeping in mind privacy, cloud-based approach
          %li visualization came up a lot, current tools not really good, are there tools for people higher the value chain other than tableau, how to share visualizations back to farmers
          %li low end data acquisition challenges are good place to go to really create something new
          %li what are ways of representing that data to farmers and middlemen
          %li low cost system for farmers and farm communities to reason 
          %li rainfall and rain activity
          %li keep customers in mind
          %li pilot test in central valley
          %li then try in africa
      
      #preamble
        %h2
          %span October 1, 2014 - Advisor Meeting notes

        %ul
          %li Prof. Tapan has contacts in Africa that he will contact for us. They had in mind stuff about weather stations at school that were expensive and wanted more low cost devices.
          %li We should start looking into various technological options for rainfall monitoring, whats been developed and cost 
          %li Maybe even weather station devices, not just rainfall monitoring
          %li Another option is seeing how data aggregation and functionality could be adapted to individual/group of farmers context
          %li By next week, find pre-existing hardware that is used to monitor rainfall or something related, see who is using it, what they support in terms of software and what users' experience of this technology has been
          %li Plans to contact Prof. Inez Fung in EPS department, reach out to bounce ideas off of rainwater aggregate device and data aggregation
      
      #preamble
        %h2
          %span October 2, 2014 - Potential Collaborators in Kenya

      Prof. Tapan met some potential collaborators in Kenya who would be interested in developing a system based on a combination of crowd-sourced information, networks of low-cost sensors and satellite remote sensing data. Their goal is to eventually have a system for monitoring a range of ecosystem health metrics in addition to rainfall, strating with rainfall, and weather improve forecasts.

      This seems like a promising project for Aparna and I and we have begun reading some of the documents on the situation to determine whether to pursue it further.

      #preamble
        %h2
          %span October 8, 2014 - Advisor Meeting notes

        %ul
          %li Data Entry, standardization, modeling of ecosystems, satellite based, ecosystem modeling 
          %li Rainfall, crop yields, missing market for capital Skybox, one meter resolution over some sites, knows the yield, develop algorithms satellite images from yields, extension of productively, send money to cash transfer - houses without tin, 
          %li Image processing: Crop identification, If identify, yield, Ground truth data, Remote sensing, Esoka Ghana
          %li Climate side: farmers want longterm seasonal forecasting, index based insurance, soil sensors: soil carbon -> big returns on fertilizer
          %li Rainfall Sensors - Research on rainfall monitoring, look around, range of rainfall.weather monitoring systems, what kinds of data each provides, use that to brainstorm, distributed - low tech, standard mold, collect rainfall across farm acres, significantly increase data collection, standardized
          %li Marshall, speculative, In parallel, avaaj ovatlo - completely independent, data mining - > building, parallel, sql database - usage information, data of each phone number, more information, person listens longer to whether their crop involved
          %li Data Analysis 

    #preamble
      %h2 October 12, 2014 - Sensor Research
      
      Aparna and I have focused on the area of rainfall sensors, and, at the recommendation of our advisor, are looking into existing technologies. We have started a spreadsheet of sensors, their capabilities, price, etc.

      %iframe{:src=>"https://docs.google.com/spreadsheets/d/1xgEEpx-IYjKM2FsTifp5k0Aq-19XOnce28pJWnAQbC4/pubhtml?widget=true&amp;headers=false", :frameborder=>"0", :width=>"500", :height=>"300", :allowfullscreen=>"true", :mozallowfullscreen=>"true", :webkitallowfullscreen=>"true"}
    
    #preamble
      %h2 October 31, 2014 - Various Updates

      %ul
        %li developing some ideas for prototyping a rainfall meter using some off-the-shelf components.
        %li finalizing hardware decisions
        %li Set up Skype meeting with contacts in Kenya for potential testing
    

    #preamble
      %h2 November 2, 2014
      %ul
        %li Aparna and I have narrowed our decisions for the hardware and have placed orders for the following:
        %li Teensy USB Development Board: https://www.pjrc.com/store/teensy31.html
        %li Arduino Leonardo: http://arduino.cc/en/Main/arduinoBoardLeonardo

    #preamble
      %h2 November 15, 2014 - Hardware Design

      =image_tag "sensor.png"
      

    #preamble
      %h2 November 18, 2014 - Placed Sensor Orders

      Aparna and I have begun ordering supplies for the hardware component of the project. Our current approach is to have a buoy that will be connected to a lever, which will come in contact with a microcontroller at a certain water height. This data is logged in an SD card which will later be uploaded to a database.

      %br

      Some items we are in the process of retrieving:

      %ul
        %li Hardware
        %li Teensy Microcontroller
        %li SD Card Adapter
        %li Buoy
        %li Cord
        %li Container

    #preamble
      %h2 November 30, 2014 - Hardware Research Update

      In Progress:
      %ul
        %li Learning Eagle in order to connect button to teensy
        %li Looking at buoys to determine height of water needed to push the button

      To Consider: 
      %ul 
      %li Removing water 
      %li Resetting 
      %li User level - reasonable set of user requirements 


    #preamble
      %h2 December 5, 2014 - Meeting w/ Contact in Kenya about Prototype Designs

      Today, we spoke with a contact our advisor had that is very interested in a cost-effect and scalable sensor. These are some notes/feedback from the meet based on the prototype designs we presented.

      %ul
        %li Method 1 : Farmers read gauges; Barriers - accuracy, not many farmers; Manual readings by farmers
        %li Method 2: Automated around Schools, Send to a network
        %li Method 3: Guages to do daily readings
        %li Method 4: Use pressure sensor to measure water in cylinder at a given time
        %li Must be cost-effective even though sensor has to be quite sensitive; Scaling while being cost-effective, other groups don’t have reference data, gather this data for thousands of farmers, manual readings have limitations
        %li Exisiting water log product: http://www.waterlog.com/productsdetail.php?SDI-12-Rain-Gauge-H-3401-6
        %li Long-term price: affordable for small farmers
        %li Goal: Design buoy w/ integrated data-logger; Get intensities of rainfall by standardizing by volume
        %li Look into measuring angle of lever
        %li Dataloggers - usually most expensive part ($1000+)
        %li Testing phase (Pilot): 3000-5000 farmers

    #preamble
      %h2 December 7, 2014 - Progress

      Aparna and I are currently in the process of designing prototypes rainfall sensor prototypes that will be both cost-efficient and scalable. This prototype will eventually be used by many farmers to record weather metrics. Upon successful completion of a design, we will begin work on the software necessary to perform analysis on the data collected by sensors. We have been researching various parts necessary to build the device that will collect the rainfall information, including microcontroller technology and PCB editting sofware in order to determine the best method for producing a working prototype. 
    


  #footer
    / Copyright 2014 Tsion Behailu

  
  #linkList
    #inkList2
      #lselect
        %ul
          %li 
            %a{:href=>"/"} Home
          %li
            = link_to "Resume", "/Behailu_Tsion_Resume.pdf" 
          %li 
            %a{:href=>"http://github.com/tbehailu"} Github
          %li 
            %a{:href=>"http://linkedin.com/in/tbehailu"} LinkedIn

      #larchives
        %ul
          %li 
            %a{:href=>"http://www.tsion.me/wat-camp-2014/"} WAT Camp
          %li 
            %a{:href=>"/articles"} IEOR Blog
          %li 
            %a{:href=>"/projects"} Projects