#container
  #intro
    #pageHeader
      %h1
        %span Designing ICTs to Increase Smallholder Farmers'
        %br  Access to Markets and Knowledge
    #preamble
      %h2 
        %span Concept Prototype
      The project, 
      %emph Designing ICTs for Increasing Smallholder Farmers
      Access to Markets and Knowledge, identifies needs and defines opportunities through which innovative information and communication technology (ICT)-based applications and systems can increase agricultural small-holder productivity, profitability, and sustainability.

      The project is predicted to be completed at the end of Spring 2015, at which time, one of the following applications of the ICT will be possible:
      %ul 
        %li A digital library interface accessible to the smallholder farmers through the web.
        %li An aggregate of knowledge collected from small-scale farmers.
        %li A communication tool between farmers and other agencies.

    #preamble

      %h2
        %span September 9, 2014 - Background Research Papers
      %h3
        %span Research Steps as outlined in Proposal:
      %ul 
        %li Gathering information on the current flow of information between farmers
        %li ICT systems with potential for adoption by farmers
        %li The most effective implementation of the chosen ICT system
        %li Implement the ICT

      %h3
        %span Tasks
      %ul 
        %li Prepare a survey paper about the state of the art in Information and Communication Technologies in sub-Saharan Africa.
        %li Maintain a weekly journal documenting their work and findings, which they will share during the weekly meetings. (Required by CREU)
        %li Collaborate on maintaining a common website for their project, which will include their collaborative work. 
        %li Provide a mid-year progress report at the end of the Fall 2011 semester & end of the year summary of their work.
        %li With help from the faculty advisor, students will identify appropriate venues to publish their work

    #preamble
      %h2
        %span September 10, 2014 - ICT Presentation & Advisor Meeting
      %h3
        %span ICT Presentation in INFO 290
      %p Aparna and I prepared a presentation for the ICT class we are currently taking to expand our knowledge on this field. It was based off of two papers that Prof. Parikh has worked on in the past.

      %iframe{:src=>"https://docs.google.com/presentation/d/15SuFU3v9bUUDYwrwPw1DTRfvCfBgEVq8PA4QQ0Rd0N4/embed?start=false&loop=false&delayms=3000", :frameborder=>"0", :width=>"500", :height=>"300", :allowfullscreen=>"true", :mozallowfullscreen=>"true", :webkitallowfullscreen=>"true"}

      %h3
        %span Potential products to build as discussed with Prof. Parikh
      %ul 
        %li Gathering information on the current flow of information between farmers
        %li ICT systems with potential for adoption by farmers
        %li The most effective implementation of the chosen ICT system
        %li Implement the ICT

  #footer
    / Copyright 2014 Tsion Behailu

  
  #linkList
    #inkList2
      #lselect
        %ul
          %li 
            %a{:href=>"/"} Home
          %li
            = link_to "Resume", "/Behailu_Tsion_Resume.pdf" 
          %li 
            %a{:href=>"http://github.com/tbehailu"} Github
          %li 
            %a{:href=>"http://linkedin.com/in/tbehailu"} LinkedIn

      #larchives
        %ul
          %li 
            %a{:href=>"http://www.tsion.me/wat-camp-2014/"} WAT Camp
          %li 
            %a{:href=>"/articles"} IEOR Blog
          %li 
            %a{:href=>"/projects"} Projects