!!!
%html
  %head
    %title Tsion Behailu
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
    #linkList
      #lselect
        %ul
          %li
            %a{:href=>"/"} Home
          %li
            %a{:href=>"/Behailu_Tsion_Resume.pdf"} Resume
          %li
            %a{:href=>"http://github.com/tbehailu"} Github
          %li
            %a{:href=>"http://linkedin.com/in/tbehailu"} LinkedIn
          %li
            %a{:href=>"mailto:tsionbehailu@gmail.com"} Contact

      #larchives
        %ul
          %li
            %a{:href=>"http://www.tsion.me/wat-camp-2014/"} WAT Camp
          -#%li
          -#  %a{:href=>"/ieor_blog"} IEOR Blog
          %li
            %a{:href=>"/research"} Research Blog
          %li
            %a{:href=>"/projects"} Projects
